[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Mm]emoryCaptures/
[Uu]ser[Ss]ettings/
[Bb]uild/
[Bb]uilds/
[Bb]uildArtifacts/
[Bb]ee/
sysinfo.txt

.idea/

.vs/
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.svd
*.pdb

.vscode/
*.code-workspace

.DS_Store
.DS_Store?
._*
Thumbs.db
ehthumbs.db
Icon?
Desktop.ini

*.unitypackage

AddressableAssetsData/*/*.bin*
AddressableAssetsData/*/link.xml
ServerData/

**/TextMesh Pro/**/Resources/**/TMP Settings.asset

*.apk
*.aab
*.obb
.gradle/
**/gradle/
**/gradle/wrapper/
**/local.properties

*.keystore
*.jks
*.p12
*.pem
*.cer
*.key

*.tmp
*.temp
*.bak
*.backup
*.old
*.orig
*.rej
*~
~$*

!**/*.meta