[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Ll]ogs/
[Mm]emoryCaptures/
UserSettings/
[Bb]uild/
[Bb]uilds/
sysinfo.txt

.vscode/
.idea/
.DS_Store
Thumbs.db

.gradle/
*.apk
*.aab
*.keystore
*.jks

*.tmp
*.bak
*~
!**/*.meta